<!doctype html>
<html>
<head>
 <title>Online Shopping Website</title>
</head>
<h1>Top Bar Coding Goes Here </h1>

<label>
    Is user Authenticated {{{value}}}
    
</label>

<body>
 {{{body}}}
</body>
</html>