<html>

<label>Page Display</label>
<body>
<div class="container">

  {{!-- .  <script src="../Controller/Product.Controller.js"></script> --}}

    
    <label id = "Id_P">
      id: {{{id}}}

    </label>
    <label id ="Category">
        
        Category Name: {{{CategoryName}}}
      </label>

      {{!-- <label id = "SeoTags">
        Tags: {{{SeoTags}}

      </label> --}}

      


</div>

</body>

</html>