

<html>
    <script src="register.js"></script>
    <form action = "register.js " method="POST" id = "RegisterPage">
        <label>Email</label><br>
        <input type="text" id = "email"></input><br>
        <label>Password</label><br>
        <input type = "password" id = "password">
        <br>
        <br>
        <input type="button" value="Submit" onclick="SubmitValues()">
    </form>
</html>
